*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: arial,sans-serif;
    background:#ecf0f1;
}
.accordion{
    width: 40%;
    margin: 50px;
    background: #fff;
}
.accordion-tab .accordion-toggle{
    display: none;
}
.accordion-tab > label{
    color: #fff;
    background: #2980b9;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 12px 20px;
    cursor: pointer; 
    border-top: 1px solid #ddd;
}
.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}
.accordion-tab > .accordion-content p{
    padding: 15px 20px;
    line-height: 20px;
}
.accordion-tab > .accordion-toggle:checked~ .accordion-content{

    max-height: 100vh;
    padding: 20px;
}