*
{
	margin: 0;
	padding: 0;
	box-sizing :border-box;
	margin: 0 auto;
}

img
{
	width: 100%;
	height: 100%;
	border-radius: 13px;
	background: #e0e0e0;
	box-shadow:  28px 28px 56px #bebebe,
             -28px -28px 56px #ffffff;
}

.container
{
	width: 1000px;
	height: 280px;
	margin-top: 50px;
	font-size: 0;
	background: linear-gradient(rgb(230, 247, 255),rgb(230, 247, 255));
}

.box 
{
	width: 235px;
	height:200px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	margin-left: 18.6px;
}

.box1
{
	margin-left: 0px;
}

h1
{
	text-align: center;
	font-size: 100px;
	margin-top:40px ;
	background-image: url('Images/fla.gif');
	background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
}

.container2
{
	width: 1000px;
	font-size: 0;
}

.name
{
	width: 235px;
	display: inline-block;
	margin-left: 20px;
	text-align: center;
	font-size: 25px;
	text-weight:bold;
	background: linear-gradient(to top, rgb(204, 0, 0),rgb(255, 102, 153));
    background-clip: text;
    color: transparent;
    margin-top: 20px;
}

.name1
{
	margin-left: 0px;
}


#loading
{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('Images/please-wait.gif') no-repeat center;
	z-index: 1;
}
