*
{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body
{
	background-color: gray;
}

.container
{
	max-width: 900px; 
	margin: 0 auto;  
}

.apply_box
{
	max-width: 600px;
	padding: 20px;
	background-color: white;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px;
}

.title_small
{
	font-size: 20px;
}

.form_container
{
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
	gap:20px;
	margin-top: 30px;
}

.form_control
{
	display: flex;
	flex-direction:column;
}

label
{
	font-size: 15px;
	margin-bottom: 5px;
}

input ,select,textarea
{
	padding: 6px 10px;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 15px;
}

input:hover
{
	outline-color: red;
}

.button_container
{
	display: flex;
	justify-content : flex-end;
	margin-top: 20px;
}

button
{
	background-color: red;
	color: white;
	border:none;
	padding: 10px 10px;
	border-radius: 10px;
}

button:hover
{
	background-color: green;
	border:2px solid red;
	color: black;
	cursor: pointer;
}

.textarea_control
{
	grid-column: 1 / span 2;
}

.textarea_control textarea 
{
	width: 100%;
}

@media (max-width: 460px)
{
.textarea_control
{
	grid-column: 1 / span 1;
}
}