* 
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Helvetica, serif;
}

/* For facebook name */
h1
{
    font-size:50px;
    font-family:sans-serif ;
    color: white;
    text-align:bottom;
    margin-left: 30px;
    margin-top: 30px;
}

/*format navigation bar */
nav
{
    background:linear-gradient(to bottom,rgb(77, 136, 255),rgb(0, 68, 204));
    height:85px;
    display:flex;
}

/*format sign up link */
nav a 
{
    color: white;
    margin: 0 10px;
    font-size: 17px;
    font-family:Calibri;
}


/*For sign up button */
.sign-up-button 
{
    background-color: rgb(0, 204, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    height : 15px;
    width:54px;
    margin-top: 47px;
    text-align: center; 
    display: flex; 
    justify-content: center;
}

/* Entire form */
.main 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-top: 10px;
    background: rgb(240, 242, 245);
}

.container 
{
    background: white;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 450px;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

/* for log into facebook name*/
.login_name
{
    font-size: 1.2rem;
    margin: 40px 0 20px 0;
}


/* for input field(input box) */
input 
{
    width: 350px;
    height: 40px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    outline-style: none;
}

/*for login button */
button 
{
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 68, 204);
    color: white;
    font-size: large;
    font-weight: bold;
}

/* for or line */
.line 
{
    position: relative;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.line::before
{
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position:absolute;
    top: 50%;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.line::after 
{
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position:absolute;
    top: 50%;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

/*for create new account button*/
.new-account 
{
    width: 200px;
    background: rgb(0, 204, 0);
    font-size: 16px;
    margin: 10px 0 20px 0;
}

/* for forgot account and not now */
a 
{
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 68, 204);
}

a:hover 
{
    text-decoration: underline;
}

.login-btn:hover 
{
    background: rgb(77, 136, 255);
}

.new-account:hover 
{
    background: rgb(51, 255, 119);
}

input:hover
{
    border-color: rgb(51, 153, 255);
}






